# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Pytest cache
.pytest_cache/

# IDE files (example for VS Code)
.vscode/

# Pytest Coverage files
htmlcov/
coverage.xml
.coverage

# Environment variables file
.env